body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
 background-color:black;
  
}
.picture{
	padding-left: 20%;
}
.page{
	background-color: 16FF00;
}
.navv{
	background-color: silver;
}

.container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 20px;
}

h1 {
  text-align: center;
}

/* Navbar Styles */

.navbar {
  background-color: #f8f8f8;
  padding: 10px;
}

.navbar ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: center;
}

.navbar li {
  margin: 0 10px;
}

.navbar a {
  text-decoration: none;
  color: #333;
}

.navbar a:hover {
  color: #666;
}

.dropdown {
  position: relative;
  display: inline-block;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f8f8f8;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  z-index: 1;
}

.dropdown-content a {
  color: #333;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

.dropdown:hover .dropdown-content {
  display: block;
}

/* Buttons */

.buttons {
  text-align: center;
  margin-top: 20px;
}

.button {
  display: inline-block;
  padding: 10px 20px;
  background-color: #333;
  color: #fff;
  text-decoration: none;
}

.button.login {
  background-color: #f44336;
}

.button.signup {
  background-color: #4caf50;
}

.button:hover {
  opacity: 0.8;
}

/* Search Bar */

.search-bar {
  display: flex;
  align-items: center;
}

.search-bar input[type="text"] {
  padding: 5px;
  border: 1px solid #ccc;
}

.search-bar button[type="submit"] {
  padding: 5px 10px;
  background-color: #333;
  color: #fff;
  border: none;
  margin-left: 5px;
  cursor: pointer;
}

.search-bar button[type="submit"]:hover {
  opacity: 0.8;
}
