<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <title>Data Page</title>
    
    <link rel="stylesheet" th:href="@{/css/data.css}"/>
    
   <style>
     table, th, td {
       border: 1px solid black;
     }
   </style>
  </head>
  <body class="body">
  <nav class="navl">
	<br>
  <div class="dropdown">
  <a href="/">
  <img src="/images/img_67037.png"  class="dropdown-logo" width="25" height="25" >
  </a>
  <div class="dropdown-content">
  </div>
  </div>
</nav> 
    <table style="width:100%">
    <thead>
      <tr>
        <th>KODID</th>
        <th>NAME</th>
        <th>BRANCH</th>
      </tr>
      </thead>
      
         <tr th:each="l:${ls}" > 
        <td  th:text="${l.kodid}"></td>
        <td  th:text="${l.name}"></td>
        <td  th:text="${l.branch}"></td>
       
      </tr>
    </table>
  </body>
</html>
