<!DOCTYPE html>
<html>
<head>
  <link rel="stylesheet" type="text/css" href="/css/login.css">
</head>
<body id="body">
  <div class="container">
    <h1>Login</h1>
    <form action="/valid-data" method="post">
      <div class="form-group">
        <label for="email">Email:</label>
        <input type="email" id="email" name="email" required>
      </div>
      <div class="form-group">
        <label for="password">Password:</label>
        <input type="password" id="password" name="password" required>
      </div>
      <div class="form-group">
        <input type="submit" value="Submit" onclick=myFunction()>
        
        <script>
function myFunction() {
  alert("Login Successful!");
  textBox.value = "";
}
</script>
      </div>
    </form>
    <div class="bottom-links">
      <a href="#" class="forgot-password">Forgot Password?</a>
      <a href="index.html" class="back-button">Back</a>
    </div>
  </div>
</body>
</html>
